//font
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

// header
.about-hero-bg {
  @include about-hero-bg;

  .about-h2 {
    @include flex;
    h2 {
      width: 70%;
      @include h2;
      padding: $pad-max 0;
    }
  }
}

//navigation
.nav-style {
  @include nav-style;
}

//hero
.about-hero {
  @include about-hero;

  .about-container {
    @include about-container;

    .about-text {
      @include about-text;
    }

    .about-image {
      position: relative;
      z-index: 10;

      img {
        width: $w-full;
        height: $height-half;
        object-fit: cover;
        display: block;
      }

      .about-intersect {
        @include about-intersect;
      }
    }
  }
}

//MEDIA

@media (max-width: 480px) {
  //header
  .contacts-header-bg {
    width: $w-full;
    height: $vh-full;
    .contacts-h2 {
      width: $w-full;

      @include flex;
      h2 {
        margin: 0 $pad-s;
      }
    }
  }
  //navigation
  .nav-style {
    .nav-between {
      flex-direction: column;
      align-items: center;
      padding: $pad-s 0;
      .logo {
        width: 60%;
        padding: $pad-s 0 $pad-s $pad-l;
      }
      .navigation {
        width: $w-full;
        ul {
          flex-direction: column;
          gap: $pad-s;
        }
      }
    }
  }

  //hero
  .about-hero {
    padding: $pad-l 0;

    .about-container {
      width: $w-full;
      grid-template-columns: 1fr;
      height: auto;
      gap: $pad-m;

      .about-text {
        height: auto;
        padding: $pad-l;
      }

      .about-image {
        img {
          height: auto;
          object-fit: contain;
        }

        .about-intersect {
          width: $w-l;
        }
      }
    }
  }

  //footer
  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: $w-full;
      gap: 1.5rem;
      flex-direction: column;

      .footer-flex {
        gap: 1.5rem;
        flex-direction: column;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-hero {
    padding: $pad-xl 0;

    .about-container {
      width: $w-xl;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1;
      height: auto;
      gap: $pad-l;

      .about-text {
        height: auto;
        padding: 0 $pad-s;
        img {
          width: 15%;
        }
        p {
          font-size: 12px;
        }
      }

      .about-image {
        img {
          height: auto;
          object-fit: cover;
        }

        .about-intersect {
          width: 50%;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: $w-full;
      gap: 1.5rem;

      .footer-flex {
        gap: $pad-max;
        flex-direction: row;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}
