//font
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

//header
.contacts-header-bg {
  @include contacts-hero-bg;

  .contacts-h2 {
    @include flex;
    h2 {
      width: 70%;
      @include h2;
      padding: $pad-max 0;
    }
  }
}
//main
.contacts-section {
  @include flex;
  max-width: $w-full;
  height: 100vh;

  .contacts-grid {
    width: 70%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem 3rem;

    .card {
      background: #ffffff4d;
      box-shadow: 0px 0px 20px 0px #7a74741a;
    }

    .contacts-flex {
      grid-area: 1 / 1 / 2 / 2;
      padding: $pad-m;

      .contacts-columns {
        display: flex;
        justify-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: $pad-m;
        width: $w-full;

        .contacts-info {
          flex: 1;
          h2 {
            @include h2;
            color: black;
            padding: $pad-l $pad-m 0 $pad-l;
          }

          ul {
            list-style: none;

            li {
              padding: $pad-s;
              img {
                vertical-align: top;
                object-fit: contain;
                width: 24px;
              }
              a {
                background: -webkit-linear-gradient(
                  180deg,
                  #00d4e4 -40.5%,
                  #1f59ee 97.28%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
    }

    .contacts-map {
      grid-area: 2 / 1 / 3 / 2;
      iframe {
        width: $w-full;
        height: $height-full;
        border: none;
      }
    }

    .contacts-form {
      grid-area: 1 / 2 / 3 / 3;
      h2 {
        @include h2;
        color: black;
        padding: $pad-xl $pad-m 0 $pad-m;
      }
      .form-section {
        display: flex;
        flex-direction: column;
        padding: $pad-s $pad-m;
        gap: $pad-s;

        input,
        textarea {
          padding: $pad-s;
          border-radius: 8px;
          border: 0.5px solid #999999;
        }
        textarea {
          min-height: 150px;
          resize: vertical;
        }
      }

      .contacts-btn {
        @include contacts-btn;
      }
    }
  }
}

//media
@media (min-width: 480px) and (max-width: 768px) {
}
