//font
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

//header
.contacts-header-bg {
  @include contacts-hero-bg;

  .contacts-h2 {
    @include flex;
    h2 {
      width: 70%;
      @include h2;
      padding: $pad-max 0;
    }
  }
}

//navigation
.nav-style {
  @include nav-style;
}

//main
.contacts-section {
  @include flex;
  max-width: $w-full;
  height: 100vh;
  padding-bottom: $pad-max;

  .contacts-grid {
    width: 70%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem 3rem;

    .card {
      background: #ffffff4d;
      box-shadow: 0px 0px 20px 0px #7a74741a;
    }

    .contacts-flex {
      grid-area: 1 / 1 / 2 / 2;
      padding: $pad-m;

      .contacts-columns {
        display: flex;
        justify-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: $pad-m;
        width: $w-full;

        .contacts-info {
          flex: 1;
          h2 {
            @include h2;
            color: black;
            padding: $pad-l $pad-m 0 $pad-l;
          }

          ul {
            list-style: none;

            li {
              padding: $pad-s;
              img {
                vertical-align: top;
                object-fit: contain;
                width: 24px;
              }
              a {
                background: -webkit-linear-gradient(
                  180deg,
                  #00d4e4 -40.5%,
                  #1f59ee 97.28%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
    }

    .contacts-map {
      grid-area: 2 / 1 / 3 / 2;
      iframe {
        width: $w-full;
        height: $height-full;
        border: none;
      }
    }

    .contacts-form {
      grid-area: 1 / 2 / 3 / 3;
      h2 {
        @include h2;
        color: black;
        padding: $pad-xl $pad-m 0 $pad-m;
      }
      .form-section {
        display: flex;
        flex-direction: column;
        padding: $pad-s $pad-m;
        gap: $pad-s;

        input,
        textarea {
          padding: $pad-s;
          border-radius: 8px;
          border: 0.5px solid #999999;
        }
        textarea {
          min-height: 150px;
          resize: vertical;
        }
      }

      .contacts-btn {
        @include contacts-btn;
      }
    }
  }
}

//footer
footer {
  background: #11224d;
  color: #fff;
  padding-top: $pad-max;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  margin: $m-save;
  max-width: 70%;

  .footer-brands {
    width: 70%;
    img {
      cursor: pointer;
    }
  }
  .text-follow {
    padding: $pad-s 0 0 0;
    @include p;
    color: white;
  }
  .social-links {
    display: flex;
    gap: 1rem;

    .social-icon {
      display: block;
      width: 3rem;
      height: 3rem;
      border: 1px solid #b8e4da;
      border-radius: 50%;
      &:hover {
        border-color: #fff;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .footer-flex {
    @include footer-flex;

    .footer-nav {
      display: flex;
      flex-direction: column;
      gap: $pad-s;

      h5 {
        @include h5;
        margin: $pad-s 0;
      }
      a {
        @include a;
      }
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      gap: $pad-s;

      h5 {
        @include h5;
        margin: $pad-s 0;
      }
      a {
        @include a;
      }
    }
  }
}
.footer-copyright {
  padding: $pad-s 0;
  text-align: center;
  hr {
    opacity: 0.1;
    background: #dcf2ed;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    color: #dcf2ed;
  }
}

//MEDIA

@media (max-width: 480px) {
  .contacts-header-bg {
    width: $w-full;
    .contacts-h2 {
      width: $w-full;

      @include flex;
      h2 {
        margin: 0 $pad-s;
      }
    }
  }
  .nav-style {
    .nav-between {
      flex-direction: column;
      align-items: center;
      padding: $pad-s 0;
      .logo {
        width: 60%;
        padding: $pad-s 0 $pad-s $pad-l;
      }
      .navigation {
        width: 100%;
        ul {
          flex-direction: column;
          gap: $pad-s;
        }
      }
    }
  }
  .contacts-section {
    height: auto;
    padding-bottom: $pad-l;

    .contacts-grid {
      width: $w-full;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: $pad-m;

      .contacts-flex {
        grid-area: auto;
        padding: $pad-m;

        .contacts-columns {
          flex-direction: column;
          gap: $pad-m;

          .contacts-info {
            h2 {
              padding: $pad-s 0;
            }
          }
        }
      }

      .contacts-map {
        grid-area: auto;

        iframe {
          height: 250px;
          width: $w-full;
        }
      }

      .contacts-form {
        grid-area: auto;
        h2 {
          padding: $pad-m $pad-m 0;
        }
        .form-section {
          padding: $pad-s $pad-m;
        }
        .contacts-btn {
          margin: $pad-m;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: $w-full;
      gap: 1.5rem;
      flex-direction: column;

      .footer-flex {
        gap: 1.5rem;
        flex-direction: column;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contacts-header-bg {
    width: $w-full;
    height: $height-half;
    .contacts-h2 {
      width: $w-full;
      h2 {
        margin: 0 $pad-s;
      }
    }
  }
  .nav-style {
    .nav-between {
      flex-direction: column;
      align-items: center;
      padding: $pad-s 0;
      .logo {
        width: $w-m;
        padding: $pad-s 0 $pad-s $pad-l;
      }
      .navigation {
        width: $w-full;
        ul {
          gap: $pad-s;
        }
      }
    }
  }

  .contacts-section {
    height: auto;
    padding-bottom: $pad-l;

    .contacts-grid {
      width: 90%;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: $pad-m;

      .contacts-flex {
        grid-area: auto;
        padding: $pad-m;
        flex-direction: row;

        .contacts-columns {
          gap: $pad-m;

          .contacts-info {
            h2 {
              padding: $pad-s $pad-l;
            }
          }
        }
      }

      .contacts-map {
        grid-area: auto;

        iframe {
          height: 400px;
          width: $w-full;
        }
      }

      .contacts-form {
        grid-area: auto;
        h2 {
          padding: $pad-m $pad-m 0;
        }
        .form-section {
          padding: $pad-s $pad-m;
        }
        .contacts-btn {
          margin: $pad-m;
        }
      }
    }
  }

  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: $w-full;
      gap: 1.5rem;

      .footer-flex {
        gap: 1.5rem;
        flex-direction: row;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}
