// STYLES (main)

//480px - 768px (phone)
@mixin styles-main-phone {
}

//769px - 1024px (tablet)
@mixin styles-main-tablet {
}

// ABOUT
// 480px - 768px (phone)

@mixin media-phone-about {
  //header
  .contacts-header-bg {
    width: $w-full;
    height: 100vh;
    .contacts-h2 {
      width: $w-full;

      @include flex;
      h2 {
        margin: 0 $pad-s;
      }
    }
  }
  //navigation
  .nav-style {
    .nav-between {
      flex-direction: column;
      align-items: center;
      padding: $pad-s 0;
      .logo {
        width: 60%;
        padding: $pad-s 0 $pad-s $pad-l;
      }
      .navigation {
        width: 100%;
        ul {
          flex-direction: column;
          gap: $pad-s;
        }
      }
    }
  }

  //hero
  .about-hero {
    padding: $pad-l 0;

    .about-container {
      width: 100%;
      grid-template-columns: 1fr;
      height: auto;
      gap: $pad-m;

      .about-text {
        height: auto;
        padding: $pad-l;
      }

      .about-image {
        img {
          height: auto;
          object-fit: contain;
        }

        .about-intersect {
          width: 60%;
        }
      }
    }
  }

  //footer
  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: 100%;
      gap: 1.5rem;
      flex-direction: column;

      .footer-flex {
        gap: 1.5rem;
        flex-direction: column;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}

// 769px - 1024 px (tablet)

@mixin media-tablet-about {
  .about-hero {
    padding: $pad-xl 0;

    .about-container {
      width: 80%;
      grid-template-columns: 1fr 1fr;
      height: auto;
      gap: $pad-l;

      .about-text {
        height: auto;
        padding: $pad-xl;
        p {
          font-size: 12px;
        }
      }

      .about-image {
        img {
          height: auto;
          object-fit: cover;
        }

        .about-intersect {
          width: 50%;
        }
      }
    }
  }
}

// CONTACTS
// 480px - 768px (phone)

@mixin media-phone-contacts {
  .contacts-header-bg {
    width: $w-full;
    .contacts-h2 {
      width: $w-full;

      @include flex;
      h2 {
        margin: 0 $pad-s;
      }
    }
  }
  .nav-style {
    .nav-between {
      flex-direction: column;
      align-items: center;
      padding: $pad-s 0;
      .logo {
        width: 60%;
        padding: $pad-s 0 $pad-s $pad-l;
      }
      .navigation {
        width: 100%;
        ul {
          flex-direction: column;
          gap: $pad-s;
        }
      }
    }
  }
  .contacts-section {
    height: auto;
    padding-bottom: $pad-l;

    .contacts-grid {
      width: 100%;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: $pad-m;

      .contacts-flex {
        grid-area: auto;
        padding: $pad-m;

        .contacts-columns {
          flex-direction: column;
          gap: $pad-m;

          .contacts-info {
            h2 {
              padding: $pad-s 0;
            }
          }
        }
      }

      .contacts-map {
        grid-area: auto;

        iframe {
          height: 250px;
          width: 100%;
        }
      }

      .contacts-form {
        grid-area: auto;
        h2 {
          padding: $pad-m $pad-m 0;
        }
        .form-section {
          padding: $pad-s $pad-m;
        }
        .contacts-btn {
          margin: $pad-m;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: 100%;
      gap: 1.5rem;
      flex-direction: column;

      .footer-flex {
        gap: 1.5rem;
        flex-direction: column;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}

// 768px - 1024px (tablet)

@mixin media-tablet-contacts {
  .contacts-header-bg {
    width: $w-full;
    height: $height-half;
    .contacts-h2 {
      width: $w-full;
      h2 {
        margin: 0 $pad-s;
      }
    }
  }
  .nav-style {
    .nav-between {
      flex-direction: column;
      align-items: center;
      padding: $pad-s 0;
      .logo {
        width: 40%;
        padding: $pad-s 0 $pad-s $pad-l;
      }
      .navigation {
        width: 100%;
        ul {
          gap: $pad-s;
        }
      }
    }
  }

  .contacts-section {
    height: auto;
    padding-bottom: $pad-l;

    .contacts-grid {
      width: 90%;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: $pad-m;

      .contacts-flex {
        grid-area: auto;
        padding: $pad-m;

        .contacts-columns {
          flex-direction: column;
          gap: $pad-m;

          .contacts-info {
            h2 {
              padding: $pad-s 0;
            }
          }
        }
      }

      .contacts-map {
        grid-area: auto;

        iframe {
          height: 400px;
          width: 100%;
        }
      }

      .contacts-form {
        grid-area: auto;
        h2 {
          padding: $pad-m $pad-m 0;
        }
        .form-section {
          padding: $pad-s $pad-m;
        }
        .contacts-btn {
          margin: $pad-m;
        }
      }
    }
  }

  footer {
    flex-direction: column;
    justify-content: center;

    .footer-section {
      margin: 0 $pad-m;
      width: 100%;
      gap: 1.5rem;

      .footer-flex {
        gap: 1.5rem;
        flex-direction: row;

        .footer-nav,
        .footer-contact {
          gap: 0.5rem;
          flex-direction: column;
        }
      }
    }
  }
}
