//magrin savior
$m-save: 0 auto;

//width
$w-s: 20%;
$w-m: 40%;
$w-l: 60%;
$w-xl: 80%;
$w-full: 100%;
$w-main: 77%;

//height
$vh-full: 100vh;
$vh-s: 40vh;
$vh-m: 80vh;
$height-half: 50%;
$height-full: 100%;

//font weight
$font-w-s: 300;
$font-w-m: 400;
$font-w-l: 700;

//paddings and gaps
$pad-s: 1rem;
$pad-m: 2rem;
$pad-l: 3rem;
$pad-xl: 4rem;
$pad-max: 5rem;

//colors
$white: white;
$blue: #1b6bed;
